<style>
  .btn-search{
    display: flex;
    background-color: #fe242d;
    color: white;
    border: 2px solid #fe242d;
    border-radius: 1rem;
    justify-content: center;
  }
  .form-control{
    border-radius: 1rem;
   
  }
  .btn-search i{ padding-right: 0.5rem;}
</style>
<nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#"></a>
          <a class="nav-link" href="/users">Explore</a>
          
        </div>
        <div class="navbar-nav mx-auto">
          <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search your destinations" aria-label="Search"/>
      <button class="btn btn-search" type="submit" class="kr">
        <i class="fa-solid fa-magnifying-glass"></i>Search </button>
    </form>
        </div>
      </div>
      <ul class="nav justify-content-end">
        <a class="nav-link" href="/users/new">Airbnb your home</a>
       <% if(!current){%>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/signup"><b>Signup</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login"><b>Login</b></a>
  </li>
  <%}%>
  <%if(current){%>
  <li class="nav-item">
    <a class="nav-link" href="/logout"><b>Logout</b></a>
  </li>
<%}%>
    </div>
  </nav>